<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mars Explorer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">
                            Welcome to the Mars Dashboard
                            <p><br><a style='align-items: center;' class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
                        </h1>
                    </div>
                </div>
    {% if mars %}
    <p> {{mars.nasa_news_tag}}</p>
    {% endif %}
</body>

</html>